#googleWrap{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60vw;
  height: 90vh;
  margin: 0 auto;
  h1 {
    display: block;
    flex: 1 100%;
    // color: $lightPurple;
    // text-shadow: 4px 2px 4px $white;
  }
  #googleSearch {
    flex: 2 100%;
  }
}

//=========== GOOGLE ELEMENTS CREATED BY GOOGLE=============//
#gsc-iw-id1.gsc-input-box {
  padding: 5px;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0 !important;
}
#gsc-i-id1#gsc-i-id1 {
  color: black;
}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    border-color: $blue !important;
    background-color: $blue !important;
    box-shadow: 2px 2px 2px $black;
    background-image: none;
    filter: none;
    height: 100% !important;
    margin-left: 0;
    width: 20px !important;
}
