/*
  ============== HEADER AND NAVIGATION ==============
*/
///////////////  HEADER START ///////////////


///////////////  FOOTER START ///////////////
footer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  // height: 15px;
  width: 100%;
  color: $white;
  position: fixed;
  bottom: 0;
  p {
    margin: 0;
    padding: 0 10px;
    display: inline-block;
    a {
      text-decoration: none;
      color: $lightPurple;
    }
  }
}
